.email-form-container {
  opacity: 0;
  display: grid;
  grid-template: auto / auto;
  grid-template-areas: "msg" "contact" "foot";
  place-items: center;
  margin-top: 4em;
}

.mail {
  grid-area: msg;
  justify-self: center;
  text-align: center;
  color: white;
}

.mail-me {
  grid-area: contact;
  background: rgba(0, 0, 0, 0.4);
  max-height: fit-content;
  max-width: 90vw;
  border-radius: 10px;
  background: center cover no-repeat;
  background-blend-mode: darken;
  padding: 20px;
  font: 1.3rem "Kumbh Sans", sans-serif;
  color: white;
}

.input1,
.input2 {
  display: flex;
  justify-self: center;
  color: hsl(183, 100%, 15%);
  background: white;
  border-radius: 3px;
  border: solid 1px black;
  font-size: 20px;
  font-family: "Kumbh Sans", sans-serif;
  padding: 1px;
  text-align: left;
  width: 95%;
  margin: 10px;
}

.input1 {
  height: 1.5em;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.submit-btn {
  border-radius: 3px;
  border: solid 1px black;
  margin-top: 1.5em;
  font-size: 0.8em;
  font-family: "Kumbh Sans", sans-serif;
}

.submit-btn:active {
  transform: scale(0.9);
}

@media screen and (max-width: 968px) {
  .bottom-icons {
    font-size: 1em;
  }
}


